__pycache__
*.py[cod]
.env
.env.*
!.env.sample
*.ipynb
.git
.gitignore
.cache
.huggingface
qwen-qa-lora-cpu
model
models
useful
data
raw
processed
*.safetensors
*.bin
*.pt
*.pth
*.ckpt
*.parquet
*.zip
*.tar.gz
